@import "./styles/fonts.scss";
@import "./styles/app.min.css";

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
}

.layout {
  padding: 15px;
  height: 100vh;
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.table-header {
  margin-bottom: 15px;
  width: 100%;
}

.table-body {
  flex: 1;
  padding-bottom: 20px;
}

.table-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;

  .wrapper-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    display: inline-flex;
    //gap: 1px;

    > div {
      display: flex;
      align-items: center;
      padding: 12.5px 8px;
      color: white;
      font-size: 0.85rem;
    }

    > div:not(:last-child) {
      border-right: 1px solid white;
    }
  }

  .wrapper-body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    background-color: white;
  }

  .wrapper-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: inline-flex;

    > div {
      display: flex;
      align-items: center;
      padding: 8px;
      color: white;
    }

    > div:not(:last-child) {
      border-right: 1px solid white;
    }
  }
}

.payment {
  display: flex;
  flex-direction: column;
  //gap: 40px;

  button, .form-control {
    padding: 10px 0.75rem;
    font-size: 0.9rem;
  }

  .form-control {
    height: calc(1.5em + 20px + 2px);
  }

  .item-row {
    display: flex;
    //gap: 10px;
  }

  .item {
    display: flex;
    margin-bottom: 10px;
    flex: 1;

    label, .form-control {
      flex: 2;
    }

    button {
      flex: 1;
      white-space: nowrap;
    }

    .form-control {
      text-align: right;
      margin-left: 5px;
    }
  }

  .form-group {
    flex: 1;

    &:not(:first-child) {
      margin-left: 5px;
    }
  }

  .control-label {
    font-size: 0.95rem;
  }

  .btn-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    button {
      flex: 1
    }
  }
}

.delivery {
  display: flex;
  flex-direction: column;
}

.item-info {
  .item-thumb {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .buttons button {
    padding: .5rem 1.5rem;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 650px;
  }
}

/*.btn {
  padding: 10px 0.95rem;
  font-size: 0.95rem;
}*/

.btn-lg {
  padding: 1.1rem 1rem;
  font-size: 1.175rem;
}

/*.form-control {
  padding: 10px 0.75rem;
}*/

.form-control-lg {
  font-size: 1.275rem;
}

.table th, .table td {
  padding: 12px 8px;
  font-size: 0.85rem;
}


.number-input {
  display: flex;
  flex-direction: column;

  .number-display {
    text-align: right;
  }

  .number-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px 0;

    .number-button {
      width: 100%;
      padding-top: 100%;
      position: relative;
      border: 1px solid lightgray;
      background-color: lightcyan;

      label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
      }
    }
  }

  .btn-group {
  }
}

.my-pick__control {
  min-height: 48px;
  font-size: 1.1rem;
}

.my-pick__menu {
  font-size: 1.1rem;
}
